<%= form_for @micropost, html: { onKeyDown: "remainingCharacters()", onKeyUp: "remainingCharacters()" } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.text_area :content %>
		<span id="remaining_characters">140</span>
	</div>
	<div class="actions">
		<%= f.submit "Submit" %>
	</div>
<% end %>
